<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heef.halo.domain.basic.mapper.SubjectMappingMapper">

    <!-- 通用查询字段列表 -->
    <sql id="Base_Column_List">
        id
        ,        subject_id,        category_id,        label_id,        created_by,        created_time,        update_by,        update_time,        is_deleted    </sql>

    <!-- 分页查询题目分类关系表数据 -->
    <select id="selectPage" resultType="com.heef.halo.domain.basic.entity.SubjectMapping">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_mapping
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.subjectId != null and param.subjectId != ''">
                    AND subject_id = #{param.subjectId}
                </if>
                <if test="param.categoryId != null and param.categoryId != ''">
                    AND category_id = #{param.categoryId}
                </if>
                <if test="param.labelId != null and param.labelId != ''">
                    AND label_id = #{param.labelId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询题目分类关系表列表 -->
    <select id="selectList" resultType="com.heef.halo.domain.basic.entity.SubjectMapping">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_mapping
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.subjectId != null and param.subjectId != ''">
                    AND subject_id = #{param.subjectId}
                </if>
                <if test="param.categoryId != null and param.categoryId != ''">
                    AND category_id = #{param.categoryId}
                </if>
                <if test="param.labelId != null and param.labelId != ''">
                    AND label_id = #{param.labelId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询题目分类关系表详情 -->
    <select id="selectById" resultType="com.heef.halo.domain.basic.entity.SubjectMapping">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_mapping
        WHERE id = #{id}
    </select>

    <!-- 新增题目分类关系表数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subject_mapping (subject_id, category_id, label_id, created_by, created_time, update_by,
                                     update_time, is_deleted)
        VALUES (#{entity.subjectId}, #{entity.categoryId}, #{entity.labelId}, #{entity.createdBy},
                #{entity.createdTime}, #{entity.updateBy}, #{entity.updateTime}, #{entity.isDeleted})
    </insert>

    <!-- 批量新增题目分类关系表数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subject_mapping (
        subject_id, category_id, label_id, created_by, created_time, update_by, update_time, is_deleted ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.subjectId}, #{item.categoryId}, #{item.labelId}, #{item.createdBy}, #{item.createdTime},
            #{item.updateBy}, #{item.updateTime}, #{item.isDeleted} )
        </foreach>
    </insert>

    <!-- 更新题目分类关系表数据 -->
    <update id="update">
        UPDATE subject_mapping
        <set>
            <if test="entity.subjectId != null">
                subject_id = #{entity.subjectId},
            </if>
            <if test="entity.categoryId != null">
                category_id = #{entity.categoryId},
            </if>
            <if test="entity.labelId != null">
                label_id = #{entity.labelId},
            </if>
            <if test="entity.createdBy != null">
                created_by = #{entity.createdBy},
            </if>
            <if test="entity.createdTime != null">
                created_time = #{entity.createdTime},
            </if>
            <if test="entity.updateBy != null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.isDeleted != null">
                is_deleted = #{entity.isDeleted}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <!-- 根据ID删除题目分类关系表数据 -->
    <delete id="deleteById">
        DELETE
        FROM subject_mapping
        WHERE id = #{id}
    </delete>

    <!-- 批量删除题目分类关系表数据 -->
    <delete id="deleteBatch">
        DELETE FROM subject_mapping
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 统计题目分类关系表数据数量 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM subject_mapping
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.subjectId != null and param.subjectId != ''">
                    AND subject_id = #{param.subjectId}
                </if>
                <if test="param.categoryId != null and param.categoryId != ''">
                    AND category_id = #{param.categoryId}
                </if>
                <if test="param.labelId != null and param.labelId != ''">
                    AND label_id = #{param.labelId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据ID判断题目分类关系表是否存在 -->
    <select id="existsById" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM subject_mapping
        WHERE id = #{id}
    </select>

    <!--查询关联表信息-->
    <select id="queryMapping" resultType="com.heef.halo.domain.basic.entity.SubjectMapping">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_mapping
        <where>
            <if test="subjectId != null and subjectId != ''">
                AND subject_id = #{subjectId}
            </if>
            <if test="categoryId != null and categoryId != ''">
                AND category_id = #{categoryId}
            </if>
            <if test="labelId != null and labelId != ''">
                AND label_id = #{labelId}
            </if>
            AND is_deleted = 0
        </where>
        ORDER BY id DESC
    </select>

    <!--根据分类id查询题目数量-->
    <select id="querySubjectCount" resultType="java.lang.Integer">
        select Count(distinct subject_id)
        from subject_mapping sm,
             subject_category sc
        where sm.category_id = sc.id
    </select>

    <!--根据分类idList 来查询关联表数据mapping-->
    <select id="queryMappingByCategoryIdList" resultType="com.heef.halo.domain.basic.entity.SubjectMapping">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_mapping
        <where>
            <if test="list != null and list.size() > 0">
                AND category_id IN
                <foreach collection="list" item="categoryId" open="(" separator="," close=")">
                    #{categoryId}
                </foreach>
            </if>
            AND is_deleted = 0
        </where>
        ORDER BY id DESC
    </select>

    <!--查询标签id,,,distinct是去重的?-->
    <select id="queryDistinctLabel" >
        select
        distinct label_id
        from subject_mapping
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="subjectId != null">
                and subject_id = #{subjectId}
            </if>
            <if test="categoryId != null">
                and category_id = #{categoryId}
            </if>
            <if test="labelId != null">
                and label_id = #{labelId}
            </if>
            <if test="createdBy != null and createdBy != ''">
                and created_by = #{createdBy}
            </if>
            <if test="createdTime != null">
                and created_time = #{createdTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                and update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
            <if test="isDeleted != null">
                and is_deleted = #{isDeleted}
            </if>
        </where>
    </select>
</mapper>
