<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heef.halo.domain.basic.mapper.SubjectCategoryMapper">

    <!-- 通用查询字段列表 -->
    <sql id="Base_Column_List">
        id
        ,        category_name,        category_type,        image_url,        parent_id,        created_by,        created_time,        update_by,        update_time,        is_deleted    </sql>

    <!-- 分页查询题目分类数据 -->
    <select id="selectPage" resultType="com.heef.halo.domain.basic.entity.SubjectCategory">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_category
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.categoryName != null and param.categoryName != ''">
                    AND category_name LIKE CONCAT('%', #{param.categoryName}, '%')
                </if>
                <if test="param.categoryType != null and param.categoryType != ''">
                    AND category_type = #{param.categoryType}
                </if>
                <if test="param.imageUrl != null and param.imageUrl != ''">
                    AND image_url = #{param.imageUrl}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询题目分类列表 -->
    <select id="selectList" resultType="com.heef.halo.domain.basic.entity.SubjectCategory">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_category
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.categoryName != null and param.categoryName != ''">
                    AND category_name LIKE CONCAT('%', #{param.categoryName}, '%')
                </if>
                <if test="param.categoryType != null and param.categoryType != ''">
                    AND category_type = #{param.categoryType}
                </if>
                <if test="param.imageUrl != null and param.imageUrl != ''">
                    AND image_url = #{param.imageUrl}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询题目分类详情 -->
    <select id="selectById" resultType="com.heef.halo.domain.basic.entity.SubjectCategory">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_category
        WHERE id = #{id}
    </select>

    <!-- 新增题目分类数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subject_category (category_name, category_type, image_url, parent_id, created_by, created_time,
                                      update_by, update_time, is_deleted)
        VALUES (#{entity.categoryName}, #{entity.categoryType}, #{entity.imageUrl}, #{entity.parentId},
                #{entity.createdBy}, #{entity.createdTime}, #{entity.updateBy}, #{entity.updateTime},
                #{entity.isDeleted})
    </insert>

    <!-- 批量新增题目分类数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO subject_category (
        category_name, category_type, image_url, parent_id, created_by, created_time, update_by, update_time, is_deleted
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.categoryName}, #{item.categoryType}, #{item.imageUrl}, #{item.parentId}, #{item.createdBy},
            #{item.createdTime}, #{item.updateBy}, #{item.updateTime}, #{item.isDeleted} )
        </foreach>
    </insert>

    <!-- 更新题目分类数据 -->
    <update id="update">
        UPDATE subject_category
        <set>
            <if test="entity.categoryName != null">
                category_name = #{entity.categoryName},
            </if>
            <if test="entity.categoryType != null">
                category_type = #{entity.categoryType},
            </if>
            <if test="entity.imageUrl != null">
                image_url = #{entity.imageUrl},
            </if>
            <if test="entity.parentId != null">
                parent_id = #{entity.parentId},
            </if>
            <if test="entity.createdBy != null">
                created_by = #{entity.createdBy},
            </if>
            <if test="entity.createdTime != null">
                created_time = #{entity.createdTime},
            </if>
            <if test="entity.updateBy != null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.isDeleted != null">
                is_deleted = #{entity.isDeleted}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <!-- 根据ID删除题目分类数据 -->
    <delete id="deleteById">
        DELETE
        FROM subject_category
        WHERE id = #{id}
    </delete>

    <!-- 批量删除题目分类数据 -->
    <delete id="deleteBatch">
        DELETE FROM subject_category
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 统计题目分类数据数量 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM subject_category
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.categoryName != null and param.categoryName != ''">
                    AND category_name LIKE CONCAT('%', #{param.categoryName}, '%')
                </if>
                <if test="param.categoryType != null and param.categoryType != ''">
                    AND category_type = #{param.categoryType}
                </if>
                <if test="param.imageUrl != null and param.imageUrl != ''">
                    AND image_url = #{param.imageUrl}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据ID判断题目分类是否存在 -->
    <select id="existsById" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM subject_category
        WHERE id = #{id}
    </select>

    <!-- 查询分类下大类 || 根据父类id查询所有子分类 || 子分类关联标签 -->
    <select id="selectCategoryByParentId" resultType="com.heef.halo.domain.basic.entity.SubjectCategory">
        SELECT
        <include refid="Base_Column_List"/>
        FROM subject_category
        <where>
            is_deleted = 0
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="categoryName != null and categoryName != ''">
                AND category_name = #{categoryName}
            </if>
            <if test="categoryType != null">
                AND category_type = #{categoryType}
            </if>
            <if test="imageUrl != null and imageUrl != ''">
                AND image_url = #{imageUrl}
            </if>
            <!-- 关键修改：去掉 parentId != '' 的判断 -->
            <if test="parentId != null">
                AND parent_id = #{parentId}
            </if>
            <if test="createdBy != null and createdBy != ''">
                AND created_by = #{createdBy}
            </if>
            <if test="createdTime != null">
                AND created_time = #{createdTime}
            </if>
            <if test="updateBy != null and updateBy != ''">
                AND update_by = #{updateBy}
            </if>
            <if test="updateTime != null">
                AND update_time = #{updateTime}
            </if>
            <if test="isDeleted != null">
                AND is_deleted = #{isDeleted}
            </if>
        </where>
        ORDER BY id ASC
    </select>

</mapper>
