<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heef.halo.domain.basic.mapper.ShareCommentReplyMapper">

    <!-- 通用查询字段列表 -->
    <sql id="Base_Column_List">
        id
        ,        moment_id,        reply_type,        to_id,        to_user,        to_user_author,        reply_id,        reply_user,        replay_author,        content,        pic_urls,        parent_id,        leaf_node,        children,        root_node,        created_by,        created_time,        update_by,        update_time,        is_deleted    </sql>

    <!-- 分页查询评论及回复信息数据 -->
    <select id="selectPage" resultType="com.heef.halo.domain.basic.entity.ShareCommentReply">
        SELECT
        <include refid="Base_Column_List"/>
        FROM share_comment_reply
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.momentId != null and param.momentId != ''">
                    AND moment_id = #{param.momentId}
                </if>
                <if test="param.replyType != null and param.replyType != ''">
                    AND reply_type = #{param.replyType}
                </if>
                <if test="param.toId != null and param.toId != ''">
                    AND to_id = #{param.toId}
                </if>
                <if test="param.toUser != null and param.toUser != ''">
                    AND to_user = #{param.toUser}
                </if>
                <if test="param.toUserAuthor != null and param.toUserAuthor != ''">
                    AND to_user_author = #{param.toUserAuthor}
                </if>
                <if test="param.replyId != null and param.replyId != ''">
                    AND reply_id = #{param.replyId}
                </if>
                <if test="param.replyUser != null and param.replyUser != ''">
                    AND reply_user = #{param.replyUser}
                </if>
                <if test="param.replayAuthor != null and param.replayAuthor != ''">
                    AND replay_author = #{param.replayAuthor}
                </if>
                <if test="param.content != null and param.content != ''">
                    AND content = #{param.content}
                </if>
                <if test="param.picUrls != null and param.picUrls != ''">
                    AND pic_urls = #{param.picUrls}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.leafNode != null and param.leafNode != ''">
                    AND leaf_node = #{param.leafNode}
                </if>
                <if test="param.children != null and param.children != ''">
                    AND children = #{param.children}
                </if>
                <if test="param.rootNode != null and param.rootNode != ''">
                    AND root_node = #{param.rootNode}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询评论及回复信息列表 -->
    <select id="selectList" resultType="com.heef.halo.domain.basic.entity.ShareCommentReply">
        SELECT
        <include refid="Base_Column_List"/>
        FROM share_comment_reply
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.momentId != null and param.momentId != ''">
                    AND moment_id = #{param.momentId}
                </if>
                <if test="param.replyType != null and param.replyType != ''">
                    AND reply_type = #{param.replyType}
                </if>
                <if test="param.toId != null and param.toId != ''">
                    AND to_id = #{param.toId}
                </if>
                <if test="param.toUser != null and param.toUser != ''">
                    AND to_user = #{param.toUser}
                </if>
                <if test="param.toUserAuthor != null and param.toUserAuthor != ''">
                    AND to_user_author = #{param.toUserAuthor}
                </if>
                <if test="param.replyId != null and param.replyId != ''">
                    AND reply_id = #{param.replyId}
                </if>
                <if test="param.replyUser != null and param.replyUser != ''">
                    AND reply_user = #{param.replyUser}
                </if>
                <if test="param.replayAuthor != null and param.replayAuthor != ''">
                    AND replay_author = #{param.replayAuthor}
                </if>
                <if test="param.content != null and param.content != ''">
                    AND content = #{param.content}
                </if>
                <if test="param.picUrls != null and param.picUrls != ''">
                    AND pic_urls = #{param.picUrls}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.leafNode != null and param.leafNode != ''">
                    AND leaf_node = #{param.leafNode}
                </if>
                <if test="param.children != null and param.children != ''">
                    AND children = #{param.children}
                </if>
                <if test="param.rootNode != null and param.rootNode != ''">
                    AND root_node = #{param.rootNode}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询评论及回复信息详情 -->
    <select id="selectById" resultType="com.heef.halo.domain.basic.entity.ShareCommentReply">
        SELECT
        <include refid="Base_Column_List"/>
        FROM share_comment_reply
        WHERE id = #{id}
    </select>

    <!-- 新增评论及回复信息数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO share_comment_reply (moment_id, reply_type, to_id, to_user, to_user_author, reply_id, reply_user,
                                         replay_author, content, pic_urls, leaf_node, children, root_node, created_by,
                                         created_time, update_by, update_time, is_deleted)
        VALUES (#{entity.momentId}, #{entity.replyType}, #{entity.toId}, #{entity.toUser}, #{entity.toUserAuthor},
                #{entity.replyId}, #{entity.replyUser}, #{entity.replayAuthor}, #{entity.content}, #{entity.picUrls},
                #{entity.leafNode}, #{entity.children}, #{entity.rootNode}, #{entity.createdBy}, #{entity.createdTime},
                #{entity.updateBy}, #{entity.updateTime}, #{entity.isDeleted})
    </insert>

    <!-- 批量新增评论及回复信息数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO share_comment_reply (
        moment_id, reply_type, to_id, to_user, to_user_author, reply_id, reply_user, replay_author, content, pic_urls,
        leaf_node, children, root_node, created_by, created_time, update_by, update_time, is_deleted ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.momentId}, #{item.replyType}, #{item.toId}, #{item.toUser}, #{item.toUserAuthor}, #{item.replyId},
            #{item.replyUser}, #{item.replayAuthor}, #{item.content}, #{item.picUrls}, #{item.leafNode},
            #{item.children}, #{item.rootNode}, #{item.createdBy}, #{item.createdTime}, #{item.updateBy},
            #{item.updateTime}, #{item.isDeleted} )
        </foreach>
    </insert>

    <!-- 更新评论及回复信息数据 -->
    <update id="update">
        UPDATE share_comment_reply
        <set>
            <if test="entity.momentId != null">
                moment_id = #{entity.momentId},
            </if>
            <if test="entity.replyType != null">
                reply_type = #{entity.replyType},
            </if>
            <if test="entity.toId != null">
                to_id = #{entity.toId},
            </if>
            <if test="entity.toUser != null">
                to_user = #{entity.toUser},
            </if>
            <if test="entity.toUserAuthor != null">
                to_user_author = #{entity.toUserAuthor},
            </if>
            <if test="entity.replyId != null">
                reply_id = #{entity.replyId},
            </if>
            <if test="entity.replyUser != null">
                reply_user = #{entity.replyUser},
            </if>
            <if test="entity.replayAuthor != null">
                replay_author = #{entity.replayAuthor},
            </if>
            <if test="entity.content != null">
                content = #{entity.content},
            </if>
            <if test="entity.picUrls != null">
                pic_urls = #{entity.picUrls},
            </if>
            <if test="entity.leafNode != null">
                leaf_node = #{entity.leafNode},
            </if>
            <if test="entity.children != null">
                children = #{entity.children},
            </if>
            <if test="entity.rootNode != null">
                root_node = #{entity.rootNode},
            </if>
            <if test="entity.createdBy != null">
                created_by = #{entity.createdBy},
            </if>
            <if test="entity.createdTime != null">
                created_time = #{entity.createdTime},
            </if>
            <if test="entity.updateBy != null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.isDeleted != null">
                is_deleted = #{entity.isDeleted}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <!-- 根据ID删除评论及回复信息数据 -->
    <delete id="deleteById">
        DELETE
        FROM share_comment_reply
        WHERE id = #{id}
    </delete>

    <!-- 批量删除评论及回复信息数据 -->
    <delete id="deleteBatch">
        DELETE FROM share_comment_reply
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 统计评论及回复信息数据数量 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM share_comment_reply
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.momentId != null and param.momentId != ''">
                    AND moment_id = #{param.momentId}
                </if>
                <if test="param.replyType != null and param.replyType != ''">
                    AND reply_type = #{param.replyType}
                </if>
                <if test="param.toId != null and param.toId != ''">
                    AND to_id = #{param.toId}
                </if>
                <if test="param.toUser != null and param.toUser != ''">
                    AND to_user = #{param.toUser}
                </if>
                <if test="param.toUserAuthor != null and param.toUserAuthor != ''">
                    AND to_user_author = #{param.toUserAuthor}
                </if>
                <if test="param.replyId != null and param.replyId != ''">
                    AND reply_id = #{param.replyId}
                </if>
                <if test="param.replyUser != null and param.replyUser != ''">
                    AND reply_user = #{param.replyUser}
                </if>
                <if test="param.replayAuthor != null and param.replayAuthor != ''">
                    AND replay_author = #{param.replayAuthor}
                </if>
                <if test="param.content != null and param.content != ''">
                    AND content = #{param.content}
                </if>
                <if test="param.picUrls != null and param.picUrls != ''">
                    AND pic_urls = #{param.picUrls}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.leafNode != null and param.leafNode != ''">
                    AND leaf_node = #{param.leafNode}
                </if>
                <if test="param.children != null and param.children != ''">
                    AND children = #{param.children}
                </if>
                <if test="param.rootNode != null and param.rootNode != ''">
                    AND root_node = #{param.rootNode}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据ID判断评论及回复信息是否存在 -->
    <select id="existsById" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM share_comment_reply
        WHERE id = #{id}
    </select>

</mapper>
