<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heef.halo.domain.basic.mapper.AuthUserMapper">

    <!-- 分页查询用户信息表数据 -->
    <select id="selectPage" resultType="com.heef.halo.domain.basic.entity.AuthUser">
        SELECT
        id, user_name, nick_name, email, phone, password, sex, avatar, status, introduce, ext_json, created_by, created_time, update_by, update_time, is_deleted
        FROM auth_user
        <where>
            <if test="param != null">
                <!-- 精确查询 -->
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <!-- 用户名模糊查询 -->
                <if test="param.userName != null and param.userName != ''">
                    AND user_name LIKE CONCAT('%', #{param.userName}, '%')
                </if>
                <!-- 昵称模糊查询 -->
                <if test="param.nickName != null and param.nickName != ''">
                    AND nick_name LIKE CONCAT('%', #{param.nickName}, '%')
                </if>
                <!-- 邮箱模糊查询 -->
                <if test="param.email != null and param.email != ''">
                    AND email LIKE CONCAT('%', #{param.email}, '%')
                </if>
                <!-- 手机号精确查询（手机号通常精确匹配） -->
                <if test="param.phone != null and param.phone != ''">
                    AND phone = #{param.phone}
                </if>
                <!-- 其他字段保持精确查询 -->
                <if test="param.sex != null">
                    AND sex = #{param.sex}
                </if>
                <if test="param.status != null">
                    AND status = #{param.status}
                </if>
                <if test="param.isDeleted != null">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询用户信息表列表 -->
    <select id="selectList" resultType="com.heef.halo.domain.basic.entity.AuthUser">
        SELECT
        id, user_name, nick_name, email, phone, password, sex, avatar, status, introduce, ext_json, created_by, created_time, update_by, update_time, is_deleted
        FROM auth_user
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.userName != null and param.userName != ''">
                    AND user_name = #{param.userName}
                </if>
                <if test="param.nickName != null and param.nickName != ''">
                    AND nick_name = #{param.nickName}
                </if>
                <if test="param.email != null and param.email != ''">
                    AND email = #{param.email}
                </if>
                <if test="param.phone != null and param.phone != ''">
                    AND phone = #{param.phone}
                </if>
                <if test="param.password != null and param.password != ''">
                    AND password = #{param.password}
                </if>
                <if test="param.sex != null and param.sex != ''">
                    AND sex = #{param.sex}
                </if>
                <if test="param.avatar != null and param.avatar != ''">
                    AND avatar = #{param.avatar}
                </if>
                <if test="param.status != null and param.status != ''">
                    AND status = #{param.status}
                </if>
                <if test="param.introduce != null and param.introduce != ''">
                    AND introduce = #{param.introduce}
                </if>
                <if test="param.extJson != null and param.extJson != ''">
                    AND ext_json = #{param.extJson}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询用户信息表详情 -->
    <select id="selectById" resultType="com.heef.halo.domain.basic.entity.AuthUser">
        SELECT
        id, user_name, nick_name, email, phone, password, sex, avatar, status, introduce, ext_json, created_by, created_time, update_by, update_time, is_deleted
        FROM auth_user
        WHERE id = #{id}
    </select>

    <!-- 新增用户信息表数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auth_user (user_name, nick_name, email, phone, password, sex, avatar, status, introduce, ext_json,
                               created_by, created_time, update_by, update_time, is_deleted)
        VALUES (#{entity.userName}, #{entity.nickName}, #{entity.email}, #{entity.phone}, #{entity.password},
                #{entity.sex}, #{entity.avatar}, #{entity.status}, #{entity.introduce}, #{entity.extJson},
                #{entity.createdBy}, #{entity.createdTime}, #{entity.updateBy}, #{entity.updateTime},
                #{entity.isDeleted})
    </insert>

    <!-- 批量新增用户信息表数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auth_user (
        user_name, nick_name, email, phone, password, sex, avatar, status, introduce, ext_json, created_by,
        created_time, update_by, update_time, is_deleted ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userName}, #{item.nickName}, #{item.email}, #{item.phone}, #{item.password}, #{item.sex},
            #{item.avatar}, #{item.status}, #{item.introduce}, #{item.extJson}, #{item.createdBy}, #{item.createdTime},
            #{item.updateBy}, #{item.updateTime}, #{item.isDeleted} )
        </foreach>
    </insert>

    <!-- 更新用户信息表数据 -->
    <update id="update">
        UPDATE auth_user
        <set>
            <if test="entity.userName != null">
                user_name = #{entity.userName},
            </if>
            <if test="entity.nickName != null">
                nick_name = #{entity.nickName},
            </if>
            <if test="entity.email != null">
                email = #{entity.email},
            </if>
            <if test="entity.phone != null">
                phone = #{entity.phone},
            </if>
            <if test="entity.password != null">
                password = #{entity.password},
            </if>
            <if test="entity.sex != null">
                sex = #{entity.sex},
            </if>
            <if test="entity.avatar != null">
                avatar = #{entity.avatar},
            </if>
            <if test="entity.status != null">
                status = #{entity.status},
            </if>
            <if test="entity.introduce != null">
                introduce = #{entity.introduce},
            </if>
            <if test="entity.extJson != null">
                ext_json = #{entity.extJson},
            </if>
            <if test="entity.createdBy != null">
                created_by = #{entity.createdBy},
            </if>
            <if test="entity.createdTime != null">
                created_time = #{entity.createdTime},
            </if>
            <if test="entity.updateBy != null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.isDeleted != null">
                is_deleted = #{entity.isDeleted}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>


    <!-- 根据ID删除用户信息表数据 -->
    <delete id="deleteById">
        DELETE
        FROM auth_user
        WHERE id = #{id}
    </delete>

    <!-- 批量删除用户信息表数据 -->
    <delete id="deleteBatch">
        DELETE FROM auth_user
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 统计用户信息表数据数量 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM auth_user
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.userName != null and param.userName != ''">
                    AND user_name LIKE CONCAT('%', #{param.userName}, '%')
                </if>
                <if test="param.nickName != null and param.nickName != ''">
                    AND nick_name LIKE CONCAT('%', #{param.nickName}, '%')
                </if>
                <if test="param.email != null and param.email != ''">
                    AND email LIKE CONCAT('%', #{param.email}, '%')
                </if>
                <if test="param.phone != null and param.phone != ''">
                    AND phone LIKE CONCAT('%', #{param.phone}, '%')
                </if>
                <if test="param.password != null and param.password != ''">
                    AND password = #{param.password}
                </if>
                <if test="param.sex != null and param.sex != ''">
                    AND sex = #{param.sex}
                </if>
                <if test="param.avatar != null and param.avatar != ''">
                    AND avatar = #{param.avatar}
                </if>
                <if test="param.status != null and param.status != ''">
                    AND status = #{param.status}
                </if>
                <if test="param.introduce != null and param.introduce != ''">
                    AND introduce = #{param.introduce}
                </if>
                <if test="param.extJson != null and param.extJson != ''">
                    AND ext_json = #{param.extJson}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据ID判断用户信息表是否存在 -->
    <select id="existsById" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM auth_user
        WHERE id = #{id}
    </select>

    <!--条件查询指定行数据-->
    <select id="selectByCondition" resultType="com.heef.halo.domain.basic.entity.AuthUser">
        SELECT * FROM auth_user
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.userName != null and param.userName != ''">
                    AND user_name = #{param.userName}
                </if>
                <if test="param.nickName != null and param.nickName != ''">
                    AND nick_name = #{param.nickName}
                </if>
                <if test="param.email != null and param.email != ''">
                    AND email = #{param.email}
                </if>
                <if test="param.phone != null and param.phone != ''">
                    AND phone = #{param.phone}
                </if>
                <if test="param.password != null and param.password != ''">
                    AND password = #{param.password}
                </if>
                <if test="param.sex != null and param.sex != ''">
                    AND sex = #{param.sex}
                </if>
                <if test="param.avatar != null and param.avatar != ''">
                    AND avatar = #{param.avatar}
                </if>
                <if test="param.status != null and param.status != ''">
                    AND status = #{param.status}
                </if>
                <if test="param.introduce != null and param.introduce != ''">
                    AND introduce = #{param.introduce}
                </if>
                <if test="param.extJson != null and param.extJson != ''">
                    AND ext_json = #{param.extJson}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!--根据用户名-查找用户-->
    <select id="selectByUserName" resultType="com.heef.halo.domain.basic.entity.AuthUser">
        SELECT * FROM auth_user
        <where>
            <if test="userName != null and userName != ''">
                AND user_name = #{userName}
            </if>
        </where>
    </select>


    <!--设置用户状态-->
    <update id="setStatus" >
        update auth_user
        <set>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
            where id=#{id}
    </update>

    <!--统计状态status为0的用户数量-->
    <select id="countOnlineUsers" resultType="java.lang.Long">
        select count(*)
        from auth_user
        <where>
            <if test="status!=null">
                status=#{status}
            </if>
        </where>
    </select>

    <!--获取用户增长趋势-->
    <select id="getUserGrowthTrend" resultType="java.util.Map">
        SELECT 
            DATE_FORMAT(created_time, '%Y-%m-%d') as date,
            COUNT(*) as count
        FROM auth_user
        WHERE is_deleted = 0
        AND created_time >= DATE_SUB(NOW(), INTERVAL #{days} DAY)
        GROUP BY DATE_FORMAT(created_time, '%Y-%m-%d')
        ORDER BY date ASC
    </select>

</mapper>