<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heef.halo.domain.basic.mapper.AuthPermissionMapper">

    <!-- 通用查询字段列表 -->
    <sql id="Base_Column_List">
        id
        ,        name,        parent_id,        type,        menu_url,        status,        show,        icon,        permission_key,        created_by,        created_time,        update_by,        update_time,        is_deleted    </sql>

    <!-- 分页查询${tableInfo.comment}数据 -->
    <select id="selectPage" resultType="com.heef.halo.domain.basic.entity.AuthPermission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM auth_permission
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.name != null and param.name != ''">
                    AND name = #{param.name}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.type != null and param.type != ''">
                    AND type = #{param.type}
                </if>
                <if test="param.menuUrl != null and param.menuUrl != ''">
                    AND menu_url = #{param.menuUrl}
                </if>
                <if test="param.status != null and param.status != ''">
                    AND status = #{param.status}
                </if>
                <if test="param.show != null and param.show != ''">
                    AND show = #{param.show}
                </if>
                <if test="param.icon != null and param.icon != ''">
                    AND icon = #{param.icon}
                </if>
                <if test="param.permissionKey != null and param.permissionKey != ''">
                    AND permission_key = #{param.permissionKey}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询${tableInfo.comment}列表 -->
    <select id="selectList" resultType="com.heef.halo.domain.basic.entity.AuthPermission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM auth_permission
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.name != null and param.name != ''">
                    AND name = #{param.name}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.type != null and param.type != ''">
                    AND type = #{param.type}
                </if>
                <if test="param.menuUrl != null and param.menuUrl != ''">
                    AND menu_url = #{param.menuUrl}
                </if>
                <if test="param.status != null and param.status != ''">
                    AND status = #{param.status}
                </if>
                <if test="param.show != null and param.show != ''">
                    AND show = #{param.show}
                </if>
                <if test="param.icon != null and param.icon != ''">
                    AND icon = #{param.icon}
                </if>
                <if test="param.permissionKey != null and param.permissionKey != ''">
                    AND permission_key = #{param.permissionKey}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询${tableInfo.comment}详情 -->
    <select id="selectById" resultType="com.heef.halo.domain.basic.entity.AuthPermission">
        SELECT
        <include refid="Base_Column_List"/>
        FROM auth_permission
        WHERE id = #{id}
    </select>

    <!-- 新增${tableInfo.comment}数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auth_permission (name, parent_id, type, menu_url, status, show, icon, permission_key, created_by,
                                     created_time, update_by, update_time, is_deleted)
        VALUES (#{entity.name}, #{entity.parentId}, #{entity.type}, #{entity.menuUrl}, #{entity.status}, #{entity.show},
                #{entity.icon}, #{entity.permissionKey}, #{entity.createdBy}, #{entity.createdTime}, #{entity.updateBy},
                #{entity.updateTime}, #{entity.isDeleted})
    </insert>

    <!-- 批量新增${tableInfo.comment}数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auth_permission (
        name, parent_id, type, menu_url, status, show, icon, permission_key, created_by, created_time, update_by,
        update_time, is_deleted ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.name}, #{item.parentId}, #{item.type}, #{item.menuUrl}, #{item.status}, #{item.show}, #{item.icon},
            #{item.permissionKey}, #{item.createdBy}, #{item.createdTime}, #{item.updateBy}, #{item.updateTime},
            #{item.isDeleted} )
        </foreach>
    </insert>

    <!-- 更新${tableInfo.comment}数据 -->
    <update id="update">
        UPDATE auth_permission
        <set>
            <if test="entity.name != null">
                name = #{entity.name},
            </if>
            <if test="entity.parentId != null">
                parent_id = #{entity.parentId},
            </if>
            <if test="entity.type != null">
                type = #{entity.type},
            </if>
            <if test="entity.menuUrl != null">
                menu_url = #{entity.menuUrl},
            </if>
            <if test="entity.status != null">
                status = #{entity.status},
            </if>
            <if test="entity.show != null">
                show = #{entity.show},
            </if>
            <if test="entity.icon != null">
                icon = #{entity.icon},
            </if>
            <if test="entity.permissionKey != null">
                permission_key = #{entity.permissionKey},
            </if>
            <if test="entity.createdBy != null">
                created_by = #{entity.createdBy},
            </if>
            <if test="entity.createdTime != null">
                created_time = #{entity.createdTime},
            </if>
            <if test="entity.updateBy != null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.isDeleted != null">
                is_deleted = #{entity.isDeleted}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <!-- 根据ID删除${tableInfo.comment}数据 -->
    <delete id="deleteById">
        DELETE
        FROM auth_permission
        WHERE id = #{id}
    </delete>

    <!-- 批量删除${tableInfo.comment}数据 -->
    <delete id="deleteBatch">
        DELETE FROM auth_permission
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 统计${tableInfo.comment}数据数量 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM auth_permission
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.name != null and param.name != ''">
                    AND name = #{param.name}
                </if>
                <if test="param.parentId != null and param.parentId != ''">
                    AND parent_id = #{param.parentId}
                </if>
                <if test="param.type != null and param.type != ''">
                    AND type = #{param.type}
                </if>
                <if test="param.menuUrl != null and param.menuUrl != ''">
                    AND menu_url = #{param.menuUrl}
                </if>
                <if test="param.status != null and param.status != ''">
                    AND status = #{param.status}
                </if>
                <if test="param.show != null and param.show != ''">
                    AND show = #{param.show}
                </if>
                <if test="param.icon != null and param.icon != ''">
                    AND icon = #{param.icon}
                </if>
                <if test="param.permissionKey != null and param.permissionKey != ''">
                    AND permission_key = #{param.permissionKey}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据ID判断${tableInfo.comment}是否存在 -->
    <select id="existsById" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM auth_permission
        WHERE id = #{id}
    </select>

    <!-- 根据用户ID查询权限列表 -->
    <select id="selectPermissionsByUserId" resultType="com.heef.halo.domain.basic.entity.AuthPermission">
        SELECT DISTINCT ap.*
        FROM auth_permission ap
        LEFT JOIN auth_role_permission arp ON ap.id = arp.permission_id
        LEFT JOIN auth_user_role aur ON arp.role_id = aur.role_id
        WHERE aur.user_id = #{userId}
        AND ap.is_deleted = 0
        AND ap.status = 0
    </select>

</mapper>
