<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heef.halo.domain.basic.mapper.AuthRoleMapper">

    <!-- 分页查询${tableInfo.comment}数据 -->
    <select id="selectPage" resultType="com.heef.halo.domain.basic.entity.AuthRole">
        SELECT
        id, role_name, role_key, created_by, created_time, update_by, update_time, is_deleted
        FROM auth_role
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.roleName != null and param.roleName != ''">
                    AND role_name = #{param.roleName}
                </if>
                <if test="param.roleKey != null and param.roleKey != ''">
                    AND role_key = #{param.roleKey}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询${tableInfo.comment}列表 -->
    <select id="selectList" resultType="com.heef.halo.domain.basic.entity.AuthRole">
        SELECT
        id, role_name, role_key, created_by, created_time, update_by, update_time, is_deleted
        FROM auth_role
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.roleName != null and param.roleName != ''">
                    AND role_name = #{param.roleName}
                </if>
                <if test="param.roleKey != null and param.roleKey != ''">
                    AND role_key = #{param.roleKey}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询${tableInfo.comment}详情 -->
    <select id="selectById" resultType="com.heef.halo.domain.basic.entity.AuthRole">
        SELECT
        id, role_name, role_key, created_by, created_time, update_by, update_time, is_deleted
        FROM auth_role
        WHERE id = #{id}
    </select>

    <!-- 新增${tableInfo.comment}数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auth_role (role_name, role_key, created_by, created_time, update_by, update_time, is_deleted)
        VALUES (#{entity.roleName}, #{entity.roleKey}, #{entity.createdBy}, #{entity.createdTime}, #{entity.updateBy},
                #{entity.updateTime}, #{entity.isDeleted})
    </insert>

    <!-- 批量新增${tableInfo.comment}数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO auth_role (
        role_name, role_key, created_by, created_time, update_by, update_time, is_deleted ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roleName}, #{item.roleKey}, #{item.createdBy}, #{item.createdTime}, #{item.updateBy},
            #{item.updateTime}, #{item.isDeleted} )
        </foreach>
    </insert>

    <!-- 更新${tableInfo.comment}数据 -->
    <update id="update">
        UPDATE auth_role
        <set>
            <if test="entity.roleName != null">
                role_name = #{entity.roleName},
            </if>
            <if test="entity.roleKey != null">
                role_key = #{entity.roleKey},
            </if>
            <if test="entity.createdBy != null">
                created_by = #{entity.createdBy},
            </if>
            <if test="entity.createdTime != null">
                created_time = #{entity.createdTime},
            </if>
            <if test="entity.updateBy != null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.isDeleted != null">
                is_deleted = #{entity.isDeleted}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <!-- 根据ID删除${tableInfo.comment}数据 -->
    <delete id="deleteById">
        DELETE
        FROM auth_role
        WHERE id = #{id}
    </delete>

    <!-- 批量删除${tableInfo.comment}数据 -->
    <delete id="deleteBatch">
        DELETE FROM auth_role
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 统计${tableInfo.comment}数据数量 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM auth_role
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.roleName != null and param.roleName != ''">
                    AND role_name = #{param.roleName}
                </if>
                <if test="param.roleKey != null and param.roleKey != ''">
                    AND role_key = #{param.roleKey}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据ID判断${tableInfo.comment}是否存在 -->
    <select id="existsById" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM auth_role
        WHERE id = #{id}
    </select>

    <!-- 根据用户ID查询角色列表 -->
    <select id="selectRolesByUserId" resultType="com.heef.halo.domain.basic.entity.AuthRole">
        SELECT
            ar.id, ar.role_name, ar.role_key, ar.created_by, ar.created_time, ar.update_by, ar.update_time, ar.is_deleted
        FROM auth_role ar
                 LEFT JOIN auth_user_role aur ON ar.id = aur.role_id
        WHERE aur.user_id = #{userId}
          AND ar.is_deleted = 0
    </select>

</mapper>