<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heef.halo.domain.basic.mapper.PracticeSetMapper">

    <!-- 通用查询字段列表 -->
    <sql id="Base_Column_List">
        id
        ,        set_name,        set_type,        set_heat,        set_desc,        primary_category_id,        created_by,        created_time,        update_by,        update_time,        is_deleted    </sql>

    <!-- 分页查询套题信息表数据 -->
    <select id="selectPage" resultType="com.heef.halo.domain.basic.entity.PracticeSet">
        SELECT
        <include refid="Base_Column_List"/>
        FROM practice_set
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.setName != null and param.setName != ''">
                    AND set_name = #{param.setName}
                </if>
                <if test="param.setType != null and param.setType != ''">
                    AND set_type = #{param.setType}
                </if>
                <if test="param.setHeat != null and param.setHeat != ''">
                    AND set_heat = #{param.setHeat}
                </if>
                <if test="param.setDesc != null and param.setDesc != ''">
                    AND set_desc = #{param.setDesc}
                </if>
                <if test="param.primaryCategoryId != null and param.primaryCategoryId != ''">
                    AND primary_category_id = #{param.primaryCategoryId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
        <if test="offset != null and limit != null">
            LIMIT #{offset}, #{limit}
        </if>
    </select>

    <!-- 条件查询套题信息表列表 -->
    <select id="selectList" resultType="com.heef.halo.domain.basic.entity.PracticeSet">
        SELECT
        <include refid="Base_Column_List"/>
        FROM practice_set
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.setName != null and param.setName != ''">
                    AND set_name = #{param.setName}
                </if>
                <if test="param.setType != null and param.setType != ''">
                    AND set_type = #{param.setType}
                </if>
                <if test="param.setHeat != null and param.setHeat != ''">
                    AND set_heat = #{param.setHeat}
                </if>
                <if test="param.setDesc != null and param.setDesc != ''">
                    AND set_desc = #{param.setDesc}
                </if>
                <if test="param.primaryCategoryId != null and param.primaryCategoryId != ''">
                    AND primary_category_id = #{param.primaryCategoryId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
        ORDER BY id DESC
    </select>

    <!-- 根据ID查询套题信息表详情 -->
    <select id="selectById" resultType="com.heef.halo.domain.basic.entity.PracticeSet">
        SELECT
        <include refid="Base_Column_List"/>
        FROM practice_set
        WHERE id = #{id}
    </select>

    <!-- 新增套题信息表数据 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO practice_set (set_name, set_type, set_heat, set_desc, primary_category_id, created_by, created_time,
                                  update_by, update_time, is_deleted)
        VALUES (#{entity.setName}, #{entity.setType}, #{entity.setHeat}, #{entity.setDesc}, #{entity.primaryCategoryId},
                #{entity.createdBy}, #{entity.createdTime}, #{entity.updateBy}, #{entity.updateTime},
                #{entity.isDeleted})
    </insert>

    <!-- 批量新增套题信息表数据 -->
    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO practice_set (
        set_name, set_type, set_heat, set_desc, primary_category_id, created_by, created_time, update_by, update_time,
        is_deleted ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.setName}, #{item.setType}, #{item.setHeat}, #{item.setDesc}, #{item.primaryCategoryId},
            #{item.createdBy}, #{item.createdTime}, #{item.updateBy}, #{item.updateTime}, #{item.isDeleted} )
        </foreach>
    </insert>

    <!-- 更新套题信息表数据 -->
    <update id="update">
        UPDATE practice_set
        <set>
            <if test="entity.setName != null">
                set_name = #{entity.setName},
            </if>
            <if test="entity.setType != null">
                set_type = #{entity.setType},
            </if>
            <if test="entity.setHeat != null">
                set_heat = #{entity.setHeat},
            </if>
            <if test="entity.setDesc != null">
                set_desc = #{entity.setDesc},
            </if>
            <if test="entity.primaryCategoryId != null">
                primary_category_id = #{entity.primaryCategoryId},
            </if>
            <if test="entity.createdBy != null">
                created_by = #{entity.createdBy},
            </if>
            <if test="entity.createdTime != null">
                created_time = #{entity.createdTime},
            </if>
            <if test="entity.updateBy != null">
                update_by = #{entity.updateBy},
            </if>
            <if test="entity.updateTime != null">
                update_time = #{entity.updateTime},
            </if>
            <if test="entity.isDeleted != null">
                is_deleted = #{entity.isDeleted}
            </if>
        </set>
        WHERE id = #{entity.id}
    </update>

    <!-- 根据ID删除套题信息表数据 -->
    <delete id="deleteById">
        DELETE
        FROM practice_set
        WHERE id = #{id}
    </delete>

    <!-- 批量删除套题信息表数据 -->
    <delete id="deleteBatch">
        DELETE FROM practice_set
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 统计套题信息表数据数量 -->
    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*) FROM practice_set
        <where>
            <if test="param != null">
                <if test="param.id != null and param.id != ''">
                    AND id = #{param.id}
                </if>
                <if test="param.setName != null and param.setName != ''">
                    AND set_name = #{param.setName}
                </if>
                <if test="param.setType != null and param.setType != ''">
                    AND set_type = #{param.setType}
                </if>
                <if test="param.setHeat != null and param.setHeat != ''">
                    AND set_heat = #{param.setHeat}
                </if>
                <if test="param.setDesc != null and param.setDesc != ''">
                    AND set_desc = #{param.setDesc}
                </if>
                <if test="param.primaryCategoryId != null and param.primaryCategoryId != ''">
                    AND primary_category_id = #{param.primaryCategoryId}
                </if>
                <if test="param.createdBy != null and param.createdBy != ''">
                    AND created_by = #{param.createdBy}
                </if>
                <if test="param.createdTime != null and param.createdTime != ''">
                    AND created_time = #{param.createdTime}
                </if>
                <if test="param.updateBy != null and param.updateBy != ''">
                    AND update_by = #{param.updateBy}
                </if>
                <if test="param.updateTime != null and param.updateTime != ''">
                    AND update_time = #{param.updateTime}
                </if>
                <if test="param.isDeleted != null and param.isDeleted != ''">
                    AND is_deleted = #{param.isDeleted}
                </if>
            </if>
        </where>
    </select>

    <!-- 根据ID判断套题信息表是否存在 -->
    <select id="existsById" resultType="java.lang.Boolean">
        SELECT COUNT(*) > 0
        FROM practice_set
        WHERE id = #{id}
    </select>

</mapper>
